/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** custom **/
  --ion-color-main: rgb(221, 174, 21);
  --ion-color-main-rgb: 221, 174, 21;
  --ion-color-main-contrast: rgb(0, 0, 0);
  --ion-color-main-contrast-rgb: 0, 0, 0;
  --ion-color-main-shade: rgb(179, 142, 22);
  --ion-color-main-tint: rgb(233, 195, 71);

  /** custom light **/
  --ion-color-custom-light: #141a22;
  --ion-color-custom-light-contrast: #ffffff;
  --ion-color-custom-light-shade: #12171d;
  --ion-color-custom-light-tint: #232c38;
}

.ion-color-main {
  --ion-color-base: var(--ion-color-main);
  --ion-color-base-rgb: var(--ion-color-main-rgb);
  --ion-color-contrast: var(--ion-color-main-contrast);
  --ion-color-contrast-rgb: var(--ion-color-main-contrast-rgb);
  --ion-color-shade: var(--ion-color-main-shade);
  --ion-color-tint: var(--ion-color-main-tint);
}

.ion-color-custom-light {
  --ion-color-base: var(--ion-color-custom-light);
  --ion-color-contrast: var(--ion-color-custom-light-contrast);
  --ion-color-shade: var(--ion-color-custom-light-shade);
  --ion-color-tint: var(--ion-color-custom-light-tint);
}

:root {

  --main-orange-color: #d17842;

    --ion-background-color: #0e1016;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;
    --ion-item-background: #141a22;

    --ion-card-background: #141a22;
    --ion-tab-bar-color: #4d5053;
    --ion-tab-bar-background: #0e1016;
    --ion-tab-bar-color-selected: rgb(221, 174, 21);

    /* --ion-toolbar-color: white; */
    --ion-toolbar-background: #0e1016;
    --ion-toolbar-border-color: #0e1016;
    --ion-tab-bar-border-color: #0e1016;
    --ion-grid-column-padding: 0;
}

.app-icon {

  color: rgb(221, 174, 21);
}

ion-toolbar {

  --padding-start: 1rem;
  --padding-end: 1rem;
  --padding-top: 1rem;
  --padding-bottom: 1rem;
}

.inner-toolbar {

  --padding-top: 0rem !important;
  --padding-bottom: 0rem !important;
}

.button-container-img img {

  height: 2.3rem;
  border-radius: 10px;
}

.gray-icon {

  color: var(--ion-tab-bar-color);
  background-color: #1b2025;
}

.yellow-icon {

  color: var(--ion-color-main);
  background-color: #1b2025;
}

.button-container {

  background-color: #1b2025;
  border: 2px solid #1d232a;
  padding: 0.5rem;
  border-radius: 13px;

  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.button-container-img {

  background-color: #1b2025;
  border: 2px solid #1d232a;
  padding: 0.2rem;
  border-radius: 13px;

  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}

ion-card {

  padding: 0.8rem;
  border-radius: 20px;
}

.coffee-card img {

  border-radius: 20px;
  height: 10rem;
  width: 100%;
}

.coffee-card-long img {

  border-radius: 20px;
  height: 5rem !important;
  width: 100%;
}

.coffee-card-long-details {

  margin-left: 1rem;
  margin-top: -0.7rem;
}

.coffee-card-long-details p {

  font-size: 0.8rem;
  margin: 0;
  margin-top: 0.2rem;
}

.coffee-card ion-card-title {

  margin-top: 1rem;
  font-size: 1rem;
}

.coffee-card .coffee-price {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-top: -0.2rem;
}

.coffee-card .coffee-price .add-button {

  color: var(--main-orange-color) !important;
  margin-top: 0.5rem;
}

.coffee-card .coffee-price .add-button svg {

  color: white !important;
}

.outer-heading {

  margin-bottom: -1.3rem;
  margin-left: 0.5rem;
  margin-right: 1.3rem;
}
/* 
.searchbar-input {

  padding: 1.5rem !important;
}

.searchbar-search-icon {

  margin-top: 0.3rem;
  margin-right: 3rem;
  padding-right: 3rem;
} */
/* 
ion-tab-bar {

  bottom: 20px;
  position: relative;
  box-shadow: 0px 0px 1.5px rgba(255, 255, 255, 0.2);
  border-radius: 16px;
width: 92%;
border-top: none;
margin: 0 auto;
height: 55px;
}

ion-tab-button {
  --padding-bottom: 8px;
  --padding-top: 8px;
} */

.custom-margin-left {

  margin-left: 0.2rem;
}